.contact-page{
    p{
        font-size: 18px;
        letter-spacing: 0px;
        animation: fadeInUp 1s 1.7s backwards;
       
        
    }
}  


.contact-form{
    width: 100%;
    margin-top: 20px;
    ul{
        padding: 0;
        margin: 0;
        li{
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }
        li.half{
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child{
                margin-left: 0;
            }
        }
    }
}
input[type = 'text'],
input[type = 'email']{
    width: 100%;
    border: 0;
    background: #ffe5dc;
    height: 50px;
    font-size: 16px;
    color: #f5a6a6;
    padding: 0 20px;
    box-sizing: border-box;

}

textarea{
    width: 100%;
    background: #ffe5dc;
    color: #f5a6a6;
    font-size: 16px;
    border: 0;
    height: 50px;
    padding: 20px;
    min-height: 200px;
    box-sizing: border-box;
}
.flat-button{
    color: #de8e82;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #4d4d4e;
    float: right;
    border-radius: 4px;

}
.img{
    width: 50%;
    margin-left: 610px;
    margin-top: -20px;
    float: left;
    opacity: 0;
    animation: fadeInDown 2s 2s;
    animation-fill-mode: forwards;

            
       
}